<%- include('partials/header', headerData) %>

    <main>
        <section class="hero-section terms-hero">
            <div class="hero-overlay"></div>
            <div class="hero-content">
                <h1>Terms and Conditions</h1>
                <p>Your agreement to these terms is essential for using our services.</p>
                <div class="cta-buttons">
                    <a href="#" class="btn btn-primary">Go to Homepage</a>
                    <a href="#" class="btn btn-secondary">Contact Us</a>
                </div>
            </div>
        </section>

        <section>
            <div class="container terms-content">
                <h2>Terms of Use</h2>
                <p>
                    Attention
                    Welcome to the Intercontinental Holiday website (the "Site"). Please read these Terms of Use carefully before using this Site. By accessing or using this Site, you agree to comply with and be bound by these Terms of Use. If you do not agree to these terms, you must not use this Site.
                </p>
                
                <h2>Acceptance of Agreement</h2>
                <p>
                    By using this Site, you acknowledge and agree to the terms and conditions outlined in this Terms of Use Agreement ("Agreement") with respect to our Site. This Agreement constitutes the entire and only agreement between Intercontinental Holiday and you regarding your use of the Site. It supersedes all prior agreements, representations, warranties, and understandings related to the Site, its content, products, or services.
                </p>
                <p>
                    This Agreement may be amended or updated at any time without prior notice. The latest version will always be available on the Site, and it is your responsibility to review these terms before using the Site.
                </p>
                
                <h2>Use of Website</h2>
                <p>
                    Intercontinental Holiday authorizes you to view, print, or download any content, graphics, forms, or documents from the Site for your personal, non-commercial use. However, you must not alter, modify, or delete any copyright or proprietary notices appearing on such materials.
                </p>
                <p>
                    You are strictly prohibited from modifying, reproducing, republishing, distributing, displaying, performing, sublicensing, selling, or creating derivative works from any material on this Site, except as expressly permitted under this Agreement.
                </p>
                <p>
                    All content on this Site is protected under copyright laws, and any unauthorized use of these materials may violate intellectual property rights, trademarks, and copyright laws. As a user of this website, you are granted a nonexclusive, nontransferable, revocable, and limited license to access and use the Site in accordance with these Terms of Use. Intercontinental Holiday reserves the right to revoke this license at any time for any reason.
                </p>
                
                <h2>Editing, Deleting, and Modification</h2>
                <p>
                    We reserve the right, at our sole discretion, to edit, modify, or delete any documents, information, or content appearing on the Site without prior notice.
                </p>
                
                <h2>Copyright</h2>
                <p>
                    All materials available on this website are protected by copyright laws. Distribution of any content from the Site for commercial purposes is strictly prohibited. The intellectual property, copyrights, trademarks, and proprietary content on this Site belong to Intercontinental Holiday, its affiliates, or third-party licensors.
                </p>
                <p>
                    You are expressly prohibited from modifying, copying, reproducing, republishing, uploading, posting, transmitting, or distributing any material from this Site, including but not limited to text, graphics, and code. Any violation of this policy may result in legal action.
                </p>
                
                <h2>Terms Policy</h2>
                <p>
                    Intercontinental Holiday reserves the right to revise, amend, or modify these Terms of Use at any time, at its sole discretion. Any changes or revisions will be posted on this page, and it is your responsibility to review them periodically.
                </p>
                <p>
                    For any questions or concerns regarding these Terms of Use, please contact us at intercontinentalholidaypvtltd@gmail.com.
                </p>
            </div>
        </section>
    </main>
    <%- include('partials/footer', footerData) %>